django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-ratelimit
django-environ
psycopg2-binary
cloudinary
django-cloudinary-storage
Pillow
tensorflow-cpu==2.13.0
numpy
drf-yasg
python-decouple
gunicorn
dj-database-url
whitenoise